* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    font-size: 65%;
    background-color: #152733;
    overflow: hidden;
}

.form-wrapper {
    background-color: #eee;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.signup-form {
    transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.signup-form h1 {
    font-size: 4rem;
    color: #1f2321;
}

.signup-form p {
    font-size: 1.8rem;
    color: #555;
}
.signup-form button {
    background: linear-gradient(109.6deg, rgb(21, 142, 80) 11.2%, rgb(42, 82, 107) 100.2%);
}
.register-link {
    text-decoration: none;
    color: purple;
}
.social-icon {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.form-input {
    background-color: #ddd;
}
.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}

.fa-facebook-f {
    color: #3b5998 !important;
}
.fa-google {
    color: #db4a39 !important;
}
.fa-y {
    color: #720e9e !important;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1000px !important;
    }
}